*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
header .nameShop{
    width: 700px;
    height: 100%;
    position: relative;
}
header .nameShop p, .text p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .text{
    width: 500px;
    height: 100%;
    margin-right: 5%;
    position: relative;
}
header .i_contact{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .i_contact a i{
    font-size: 30px;
    margin-right: 10px;
}
header .i_contact #openMenu{
    position: relative;
    font-size: 30px;
    margin-right: 10px;
}
header .i_contact #closeMenu{
    position: absolute;
    size: 40px;
    right: 80px;
    display: none;
}
.advertisement{
    position: relative;
    height: 1000px;
    background-image: url(../img/KhmerNewYear.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.advertisement .hello{
    width: 200px;
    height: 100px;
    position: absolute;
}
.advertisement .hello img{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.advertisement .text{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 300px;
}
.advertisement .text #wellcome{
    margin-top: -70px;
}
.advertisement .text #english{
    margin-top: 60px;
}
.advertisement .text #english, #khmer, #wellcome{
    font-family: 'khmer';
    font-size: 40px;
    color: rgb(0, 255, 4);
}
.advertisement .Bar{
    position: absolute;
    right: 20px;
    top: 15px;
}
.advertisement .Bar a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: bold;
}
.advertisement .Menu{
    width: 15%;
    height: 70vh;
    background-color: rgba(22, 21, 21, 0.871);
    position: absolute;
    right: 80px;
    border-radius: 30px 0px 30px 0px;
    visibility: hidden;
}
.advertisement .Menu ul{
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: white;
    list-style-type: none;
}
.advertisement .Menu ul li{
    margin-top: 10px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 9%;
    /* background-color: rgba(255, 235, 205, 0.198); */
    border-radius: 20px;
    cursor: pointer;
}
.advertisement .Menu ul li:hover{
    background-color: rgba(255, 235, 205, 0.198);
    transform: scale(0.98);
    transition: all .2s;
}
.Api{
    float: flex;
    height: 450px;
}
.Api .mangeBox{
    float: left;
    margin-left: 60px;
    width: 20%;
    height: 600px;
}
.Api .image{
    float: left;
    width: 100%;
    height: 50%;
}
.Api .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Api .informetion_products{
    float: left;
    width: 100%;
    height: 50%;
}
.Api .mangeBox .informetion_products #description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}